.fa-quote-left {
    color: grey;   
}
.fa-square {
    color: white;
}

.fa-2x{
    display:block;
    margin: auto;
    text-align: center;
    margin-top: -1.5em;   
}
.login {
    background-color: #F8F9FA;
}
.accordion-button{
    background-color: #343A40;
}
.accordion-collapse{
    background-color: white;
}
.accordion-button:not(.collapsed){
    background-color: #343A40;
    color: white;
}
footer {
    background-color: #343A40;
}